# Template Sync workflow for hvd modules. This workflow is used to keep the gha repo in sync with the template repo.
name: Template Sync Self

on:
  schedule:
    - cron: "0 0 1 * *"
  workflow_dispatch:

jobs:
    repo-sync:
      runs-on: ubuntu-latest
      permissions:
        contents: write
        pull-requests: write
  
      steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
  
      - name: actions-template-sync
        uses: AndreasAugustin/actions-template-sync@8ec19a5f2721ffb81ff809aa340ddf75e6a85ea6 # v2.5.2
        with:
          source_repo_path: hashicorp/hvd-module-template
          upstream_branch: main 
          pr_labels: template_sync

