name: terraform validate

on:
    workflow_call:

permissions:
  contents: read
  pull-requests: read
jobs:
  terraform-validate:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        terraform_version: [~>1.9.0, ~>1.10.0, ~>1.11.0, ~>1.12.0, ~>1.13.0]
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: ${{ matrix.terraform_version }}
      - name: Initialize Terraform
        run: terraform init
      - name: Validate Terraform
        run: terraform validate
