name: terraform validate

on:
    workflow_call:

permissions:
  contents: read
  pull-requests: read
jobs:
  terraform-validate:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        terraform_version: [~>1.9.0, ~>1.10.0, ~>1.11.0, ~>1.12.0, ~>1.13.0]
    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@ce70bcf31a3711a1efd50b61e7216b0196b6f4f1 # v3.1.2
        with:
          terraform_version: ${{ matrix.terraform_version }}
      - name: Initialize Terraform
        run: terraform init
      - name: Validate Terraform
        run: terraform validate
